.main{
   background-image: url(../Assets/vecteezy_the-words-join-us-on-wooden-cube-team-recruitment-register_10813490.jpg);
   background-size: cover;
   height: 100vh;
   >p{
    font-size: larger;
      color: white; 
      margin-left: 200px;
      margin-right: 200px;
   }
}

.connect-with-us {
    display: flex;
    align-items: center;
  
   a{
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-left: 90px;

    &:hover {
      color: #007bff;
    }
   }
      
  
    }
  
  
